<h1>Hi <%= current_user.username %> </h1>

<p>Your Rank:</p>

<h2>Recent Public Messages</h2>
<% @messages.each do |message| %>
  <p> To: <%= User.where(id: message.recipient_id).first.username %> </p>
  <p> <%= message.content %> </p>
  <p> From: <%= User.where(id: message.user_id).first.username %> </p>
<% end %>

<a href="/messages">Send a Message</a>