// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_header {
	color: rgb(33, 150, 243);
}

.games {
	text-align: center;
}

.leaderboard {
	height: 200px;
 	background-color: lightgray;
 	overflow: auto;
} 

.leaderboard th {
	color: rgb(33, 150, 243);;
}